@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
  }
}

/* --------------------------
      Universal Styles
----------------------------- */

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* ---------------------------
      React Lazy Load Styles
------------------------------ */

.LazyLoad {
  opacity: 0;
  transition: all 0.8s ease-in-out;
  /* margin: 0 0 300px; */
}

.is-visible {
  opacity: 1;
}

.filler {
  height: 150px;
}